<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="ModernStoreContext" connectionString="Data Source=.\sqlexpress; database=ModernStore; Integrated Security=True;User id=sa;password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>